*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family:  sans-serif;
}

a{
    text-decoration: none;
}
p{
    color: gray
}

img{
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 20px;
}

.git_icon{
    width: 50px;
    height: auto;
}

.lists {
    display: flex;
    align-items: center;
    gap: 30px;
}

select{
    border: none;
    font-size: 16px;
}
select:hover{
    cursor: pointer;
    color: rgb(66, 66, 66);
}

.login{
    display: flex;
    gap:30px;
    align-items: center;
}
.login a{
    color: black;
}
.login a:hover{
    cursor: pointer;
    color: red;
}

#search{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(127, 127, 127);
    padding: 14px 10px;
}


.SignUp {
    border: 1px solid rgb(127, 127, 127);
    border-radius: 3px;
    padding: 5px 10px;
}


.intro{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 55%;
}

.intro h1{
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.intro p{
    margin: 20px;
}

.intro button{
    padding: 10px 20px;
    background: linear-gradient(rgb(53, 53, 53),black);
    font-size: 17px;
    font-weight:700;
    color: white;
    border-radius: 5px;
}

.intro button:hover{
    box-shadow: 0 10px 20px rgb(214, 214, 214);
    cursor: pointer;
}

.reco{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 2px;
    width: 81%;
}

#hidden{
    visibility: hidden;      /* Скрыть, но оставить место */
}

#showed{
    color:white;
    z-index: 1;
    font-weight: bold;
}


.tarifes {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    /* background-color: pink; */
}
.tarif{
    flex: 1;                    /* Что происходит:
                                Все карточки стартуют с ширины 0            flex-basis: 0%
                                Flex-контейнер видит свободное место        flex-grow: 1
                                Делит его поровну между всеми flex:1        flex-shrink: 1
                                Контент не влияет на ширину
                                ➡️ Поэтому карточки выглядят ровными, даже если в одной больше текста. */
    max-width: 32%;
    text-align: center;
    height: auto;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 20px;
    box-shadow: 0 30px 100px rgb(164, 164, 164);
    background-color: rgb(240, 240, 240);
    z-index: 0;
}




#top_tarif{
    outline: 9px solid rgb(70, 116, 255);
    box-shadow: 0 -20px 1px 9px rgb(70, 116, 255);
}

.cost_info{
    padding: 20px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}



.tarif h1{
    font-size: 25px;
    margin: 0 auto 5px;
}

.tarif p{
    font-size: 14px;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.tarif .add_info h4{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    color: blue;
}

.cost{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.dollar{
    font-size: 25px;
    font-weight: bold;
}

.digital{
    font-size: 40px;
}

.usd {
    font-size: 25px;
    font-weight: bold;
}

.text{
    color: gray;
}

#entr_dicrib{
    margin-bottom: 10px;
}

#starting_at {
    border: 1px solid gray;
    margin: auto;
    border-radius: 10px;
    padding: 4px 6px;
    width: 30%;
    margin-bottom: 14px;
}

.join_free {
    margin-top: 5px;
    background-color: white;
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
}
.join_free:hover{
    cursor: pointer;
    outline: 2px solid black;
}

.cont_team{
    margin-top: 5px;
    background: linear-gradient(rgb(53, 53, 53),black);
    color: white;
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
}

.cont_team:hover,
.start_free_trial:hover{
    cursor: pointer;
    background: linear-gradient(rgb(104, 104, 104),black);
}

.entr_buttons{
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap:    10px;
}

.start_free_trial{
    margin-top: 5px;
    background: linear-gradient(rgb(53, 53, 53),black);
    color: white;
    width: 50%;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
}


.contact_sales{
    margin-top: 5px;
    background-color: white;
    width: 50%;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
}

.contact_sales:hover{
    cursor: pointer;
    outline: 2px solid black;
}

.tarif .add_info{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    
}

.tarif .add_info p{
    text-align: left;
    margin: 10px 15px;
}

details{
    margin: 10px 0;
}

.tarif .add_info summary {
     list-style: none;
    cursor: pointer;
    position: relative;
    padding-left: 10px; /* место под стрелку */
}
.tarif .add_info summary::-webkit-details-marker {
    display: none;
}

.tarif .add_info summary::before {
    content: "›";
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.2s ease;
}

.tarif .add_info details[open] summary::before {
    transform: rotate(90deg);
}
